:root {
  --font-family-montserrat: 'Montserrat', sans-serif;
  --text-rgb-57-39-255: rgba(57, 39, 255, 1);
  --text-white: rgba(255, 255, 255, 1);
  --text-black: rgba(0, 0, 0, 1);
}

.text-rgb-57-39-255 {
  color: var(--text-rgb-57-39-255);
}

.text-white {
  color: var(--text-white);
}

.text-black {
  color: var(--text-black);
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.text-3 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 64px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-57-39-255);
}

.text-4 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-montserrat);
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-5 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-montserrat);
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.text-6 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-montserrat);
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.vector-7 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.text-8 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-montserrat);
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.frame-9-2 {
  flex-grow: 0;
  flex-shrink: 1;
  width: 100%;
  backdrop-filter: blur(4px);
  background-color: rgba(31, 31, 31, 1);
}

.rectangle-4-9 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  opacity: 0.5;
  fill: rgba(217, 217, 217, 1);
  border: none;
  outline: none;
}

.rectangle-5-11 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: none;
  outline: none;
}

.rectangle-13-12 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  filter: blur(4px);
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 25px;
}

.text-13 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-14 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
  font-family: var(--font-family-montserrat);
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-15 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
  font-family: var(--font-family-montserrat);
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-16 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
  font-family: var(--font-family-montserrat);
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.node-17 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 25px;
  width: 100%;
  height: auto;
}

.node-18 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 25px;
  width: 100%;
  height: auto;
}

.node-19 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 25px;
  width: 100%;
  height: auto;
}

.line-8-20 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.line-9-21 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.group-33-10 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.line-10-22 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.text-23 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 64px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.rectangle-14-25 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  filter: blur(2px);
  background-color: rgba(217, 217, 217, 1);
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 30px;
}

.text-26 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.rectangle-15-28 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
  background-color: rgba(68, 139, 253, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 3px;
}

.rectangle-17-29 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
  background-color: rgba(68, 139, 253, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 3px;
}

.rectangle-16-30 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
  background-color: rgba(68, 139, 253, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 3px;
}

.rectangle-18-31 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
  background-color: rgba(68, 139, 253, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 3px;
}

.group-34-27 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  backdrop-filter: blur(4px);
}

.group-35-24 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-14-34 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  filter: blur(2px);
  background-color: rgba(217, 217, 217, 1);
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 30px;
}

.text-35 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.group-36-33 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.group-39-32 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-14-38 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  filter: blur(2px);
  background-color: rgba(217, 217, 217, 1);
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 30px;
}

.text-39 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.group-38-37 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.group-41-36 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-14-43 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  filter: blur(2px);
  background-color: rgba(217, 217, 217, 1);
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 30px;
}

.text-44 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.group-38-42 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.group-42-41 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.group-43-40 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-14-47 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  filter: blur(2px);
  background-color: rgba(217, 217, 217, 1);
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 30px;
}

.text-48 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.group-37-46 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.group-40-45 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-19-49 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  filter: blur(4px);
  background-color: rgba(217, 217, 217, 1);
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 30px;
}

.node-50 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.text-51 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.rectangle-20-53 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  filter: blur(4px);
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 20px;
}

.text-55 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.group-44-54 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.group-45-52 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-20-57 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  filter: blur(4px);
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 20px;
}

.text-59 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.group-44-58 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.group-46-56 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.exams-1 {
@media (max-width: 1440px) {
  .exams-1 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .exams-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}
